{% extends "network/layout.html" %}

{% block title %}{% endblock %}

{% block body %}
    <!-- MESSAGES DISPLAYER STARTS -->
    <div class="messages-wrapper text-center">
        {% for message in messages %}
        <span class="{{ message.tags}}-color">{{ message }}</span>
        {% endfor %}
    </div>
    <!-- MESSAGES DISPLAYER ENDS -->

    <!-- PROFILE PAGE CONTENT STARTS -->
    <div id="profile-page" class="page-wrapper">
        <!-- Profile Username -->
        <h1> {{ username }} </h1>
        
        <!-- Followers & Following -->
        <div id="followers-following">
            <span>Followers: {{ followers.count }}</span>
            <span>Following: {{ following.count }}</span>
        </div>

        <!-- User Posts -->
        <div id="user-posts">
            <h2>{{ username }} Posts</h2>
            {% for post in posts %}
            <div class="user-post">
                <h4>{{ post.user.username }}</h4>
                <p>{{ post.post_content }}</p>
                <span>{{ post.creation_date }}</span>
                <span>Likes: {{ post.likes }}</span>
            </div>
            {% endfor %}
        </div>
        {% if user.username != username %}
            <form action="/profile/{{ username }}" method="post">
                {% csrf_token %}
                <button id="follow-unfollow-btn">
                    {% if follow_status %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            </form>
        {% endif %}
        
        <!-- FOLLOW/UNFOLLOW BUTTON -->
    </div> <!-- PROFILE PAGE CONTENT ENDS -->
{% endblock %}